<div class="banner" style="background-image: url(https://images.unsplash.com/photo-1469474968028-56623f02e42e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1053&q=80);">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-6 my-5">
        <div class="card" style="width: 28rem, height: 18rem;">
          <div class="search-form box-shadow p-4">
            <div class="text-center">
            <h1 class="cocktail-name">Add a Destination</h1>
            </div>
            <%= simple_form_for(@destination) do |f| %>
            <%= f.input :name %>
            <%= f.input :photo, as: :file %>
            <%= f.input :location %>
            <%= f.input :date %>
            <%= f.input :description %>
            <%= f.input :first_name %>
            <div class="text-center">
            <%= f.submit "Add Destination", class: "btn btn-danger" %>
          </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

