<i class="fas fa-globe-europe"><%= link_to "Travel Destinations", destinations_path(@destination), class: "btn btn-danger" %></i>
<div class="banner2" style="background-image: url(https://images.unsplash.com/photo-1507525428034-b723cf961d3e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2853&q=80);">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-6 col-md-6 col-sm-2 my-4 p-1">
        <div class="card2 py-2 mt-5 px-3 mr-3">
          <div class="text-center">
            <h2><%= @destination.name %></h2>
            <div>
              <%= cl_image_tag @destination.photo.key, height: 300, width: 400, crop: :fill%>
            </div>
          </div>
            <div class="text-center">
              <p><strong>Location:</strong><%= @destination.location %></p>
              <p><strong>Date:</strong> <%= @destination.date.strftime('%d-%m-%Y') %></p>
              <p><strong>Description:</strong> <%= @destination.description %></p>
              <p><strong>First Name:</strong> <%= @destination.first_name %></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

